<header>
    <h1 class= "mx-auto" style="width: fit-content; margin-top: 20px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">CONFETTI CUISINE</h1>
    <nav class="navbar bg-light">
        <ul class="nav-bar nav mx-auto">
            <li class="nav-item active"><a class="nav-link nav-link-hover" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link nav-link-hover">Courses</a></li>
            <li class="nav-item"><a class="nav-link nav-link-hover" href="/subscribers/contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link nav-link-hover">Users</a></li>
            <li class="nav-item"><a class="nav-link nav-link-hover">Latest Courses</a></li>
        </ul>
    </nav>
</header>