<header>
    <h1 class= "mx-auto" style="width: fit-content;">CONFETTI CUISINE</h1>
    <nav class="navbar bg-light">
        <ul class="nav-bar nav mx-auto">
            <li class="nav-item active"><a class="nav-link">Home</a></li>
            <li class="nav-item"><a class="nav-link">Courses</a></li>
            <li class="nav-item"><a class="nav-link">Contact</a></li>
            <li class="nav-item"><a class="nav-link">Users</a></li>
        </ul>
    </nav>
</header>