<body>
    <div class="container">
        <h2 class="center">Courses</h2>
        <table class="container table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody>
                    <% courses.forEach(c => {%>
                        <tr>
                            <td> <%= c.name%></td>
                            <td> <%= c.description%></td>
                            <td> $<%= c.price%></td>
                        </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>