  <body>
    <div class="container cmx-auto" style="width: fit-content;">
        <div class="row">
            <img class="col ./images/images.css#img" src="./images/image.png" alt="cat image">
            <div class="col d-flex align-items-center">
                <p>
                    <span class="display-6">
                        Oops! Something went wrong, or the page you are looking for is not available.
                    </span><br/>
                    <span>
                        Go <a href="/" class="d-inline link-primary">home.</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
  </body>