<body>
    <div class="container">
        <div class="row">
            <img class="img col" src="/images/computer_network.jpg" alt="computer_network image">
            <div class="col d-flex align-items-center">
                <div class="row">
                    <form class="form-signin" action="/subscribers/subscribe" method="post">
                        <h2>Reach out to us</h2>
                        <p>Enter your email if you're interested to learn more: </p>
                        <form class="form-group"  action="/subscribe" method="post">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email">
                            <label for="zipcode">Zip Code</label>
                            <input type="text" class="form-control" name="zipcode">
                            <br/>
                            <button type="submit" class="btn btn-primary">Submit</button>    
                        </form>
                        <br/>
                        <p>We'll get back to you soon</p>
                    </form>

                </div>
            </div>

        </div>
    </div>
</body>