<body>
    <div class="container-sm mx-auto">
        <div class="row">
            <h1>Login: </h1>
            <form  class="row" action="/users/login" method="post">
                <label>Email address: </label>
                <input type="text" name="email">
                <label>Password</label>
                <input type="text" name="password">
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</body>