<body>
    <div class="container-sm mx-auto">
        <div class="row">
            <form  class="row form-sign data-form" action="users/create" method="post">
                <h2 class="form-signin-heading">Create a new user</h2>
                <label>First Name</label>
                <input class="form-control" type="text" name="first" placeholder="First Name">
                <label>Last Name</label>
                <input class="form-control" type="text" name="last" placeholder="Last Name">
                <label>Password</label>
                <input class="form-control" type="text" name="password" placeholder="Password">
                <label>Email address</label>
                <input class="form-control" type="email" name="email" placeholder="Email">
                <label>Zip Code</label>
                <input class="form-control" type="text" name="zipCode" placeholder="Zip Code">
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</body>